<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apple Watch App Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Apple Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C87D4A0B1A3F014C0036462B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C87D4A201A3F014D0036462B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C87D4A341A3F05E60036462B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C87D4A441A3F05E70036462B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
